<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of list; let id = index">
    <ion-card-header>
      
      <ion-card-title>
        <ion-text>{{item.nombreEvento}}</ion-text>
        <br>
        <ion-text>{{item.fecha}}</ion-text>
        <br>
        <ion-text>${{item.precio}}</ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-button fill="clear" (click)="obtenerEvento(item.idEvento)"
    >Mas Info</ion-button>
  </ion-card>
</ion-content>
<app-footer></app-footer>