<div class="fondoApp">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button >
          <ion-menu-button>
            <img class="logo"
            src="https://cdn.discordapp.com/attachments/562443471659728954/1027646063911374918/LOGOSHTAROY.png">
          </ion-menu-button>
        </ion-tab-button>
        <ion-tab-button>
          <img src="https://cdn.discordapp.com/attachments/562443471659728954/1027646064402116739/SHATORY.png">
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</div>





<ion-content>
  <div>
    <div>
      <h1 class="nov">Novedades</h1>
    </div>
    <div class="novedades">
      <ion-slides class="novedadesSlide" pager="false">

        <ion-slide>
          <ion-card>
            <ion-card-header>
              <img class="imag"
                src="https://robertoramasso.com/contrataciones/polima-westcoast-contrataciones.png">
              <ion-card-subtitle>Artista revelación</ion-card-subtitle>
              <ion-card-title>Polima WestCoast</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Polimá Westcoast estrenó este miercoles en todas las plataformas digitales su primera colaboración con el Colombiano J Balvin.
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-header>
              <img class="imag"
                src="https://static.puntoticket.com/especiales/wal176_young-cister-arena/img/young__movil.jpg">
              <ion-card-subtitle>Young Cister</ion-card-subtitle>
              <ion-card-title>EL CONCIERTO MÁS XULO</ion-card-title>
            </ion-card-header>
            <span class="fullpost">
              <ion-card-content>
                Luego de su exitoso paso por el Teatro Coliseo, Young Cister se presentará por primera vez con un show
                propio en el Movistar Arena. "EL CONCIERTO MÁS XULO", es el nombre del espectáculo que presentará el
                artista urbano, el próximo 7 de enero de 2023.
              </ion-card-content>
            </span>
            
          </ion-card>
        </ion-slide>


        <ion-slide>
          <ion-card>
            <ion-card-header>
              <img class="imag"
                src="https://www.latercera.com/resizer/C82ZLLTeU1fgqOQGuuqIkA_H2SY=/157x0:1417x840/1023x682/cloudfront-us-east-1.images.arcpublishing.com/copesa/KGZ563BFBNBJHPNDRIP6VVK4BE.jpeg">
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>Videoclip Na Na Na Remix </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Pailita, Pablo Chill-E, Jordan 23 y Noriel llegaron hasta el Estadio municipal de San Joaquín para realizar las grabaciones del videoclip.
            </ion-card-content>
          </ion-card>
        </ion-slide>


      </ion-slides>
    </div>
    <div>
      <h1>Proximos Eventos</h1>
    </div>
    <div class="Event">

      <ion-slides class="EventosProximos">

        <ion-slide class="uno">
          <ion-card>
            <ion-card-header>
              <img src="https://elranki.com/wp-content/uploads/2022/05/Daddy-Yankee.jpg">
              <ion-card-subtitle>Big boss</ion-card-subtitle>
              <ion-card-title>Daddy Yankee 7-8 de enero 2023</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              equipo de Daddy Yankee y los organizadores del Festival Internacional de la Canción de Viña del Mar ya
              habrían iniciado las conversaciones para que el popular artista se presente en tierras chilenas como
              último destino de su exitosa carrera.
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide class="dos">
          <ion-card>
            <ion-card-header>
              <img class="imag"
                src="https://static.puntoticket.com/especiales/wal176_young-cister-arena/img/young__movil.jpg">
              <ion-card-subtitle>Young Cister</ion-card-subtitle>
              <ion-card-title>EL CONCIERTO MÁS XULO</ion-card-title>
            </ion-card-header>
            <span class="fullpost">
              <ion-card-content>
                Luego de su exitoso paso por el Teatro Coliseo, Young Cister se presentará por primera vez con un show
                propio en el Movistar Arena. "EL CONCIERTO MÁS XULO", es el nombre del espectáculo que presentará el
                artista urbano, el próximo 7 de enero de 2023.
              </ion-card-content>
            </span>
            
          </ion-card>
        </ion-slide>

        <ion-slide class="tres">
          <ion-card>
            <ion-card-header>
              <img class="imag" src="https://ticketplus-uploads.ticketplus.global/images/shares/f7075c032707460bc00b-1200x630-plus.png?1657861901">
              <ion-card-subtitle>10 años</ion-card-subtitle>
              <ion-card-title>Florida bier</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Junta sed, porque para esta primavera se confimaron varias fiestas de la cerveza, entre ellas Florida Bier 2022.

              El evento cervecero y musical que regresa y nada menos que para festejar sus 10 años de vida.

              Una década que por supuesto merece una celebración en grande, tal como la que organizaron para este aniversario, la más importante de sus versiones hasta ahora.
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </div>
  </div>


  <!-- <div class="bar">
    <ion-tabs class="bar">
      <ion-tab-bar>
        <ion-tab-button>
          <ion-icon slot="start" name="add"></ion-icon>
          <img src="/resources/LOGOSHTAROY.png">
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="add-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div> -->
</ion-content>