ion-content{
    
    --background:#2a1b3d;
}
ion-header{
    --background:#2a1b3d;
}
ion-col{
    padding-top: 10%;
}
.logo{
    margin: 10%;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
    45deg,
    hsl(267deg 100% 20%) 0%,
    hsl(283deg 98% 21%) 45%,
    hsl(295deg 85% 23%) 100%
    );
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}