ion-item{
    --background:#2a1b3d;
}
ion-input{
    
    background-color: rgba(240, 248, 255, 0) !important;
    border-color: rgba(240, 248, 255, 0) !important;
}
ion-content{
    --background:#2a1b3d;
}
.titulo{
    font-size: min(5vw,36px);
    margin: 3%;
}
ion-textarea{
    --background:#2a1b3d !important;
    background-color: rgba(240, 248, 255, 0) !important;
    border-color: rgba(240, 248, 255, 0) !important;
}