<!-- <ion-header *ngFor="let item of list; let idEvento = index">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>{{item.nombreEvento}}</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of list; let idEvento = index">
    <ion-card-header>     
      <ion-card class="myCard">
        <img src="{{item.imagenEvento}}" alt="">
        <div class="myOverlay">
          <ion-text class="titleText"> {{item.nombreEvento}}</ion-text>         
        </div>
      </ion-card>
    </ion-card-header>
    <ion-card-content>
      <ion-text > {{item.fecha}}</ion-text>
      <ion-text > {{item.precio}}</ion-text>    
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer> -->
<ion-header *ngFor="let item of list; let id = index">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>{{item.nombreEvento}}</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of list; let id = index">
    <ion-card-header>
      <ion-card class="myCard">
        <img
          class="imgArtist"
          src="{{item.imagenEvento}}"
          alt=""
          class="artista"
        />
        <div class="myOverlay">
          <ion-text class="titleText"> {{item.nombreEvento}}</ion-text>
        </div>
      </ion-card>
    </ion-card-header>

    <ion-card-content class="textArea">
      <p>{{item.fecha}}</p>
      
      <p>{{item.precio}}</p>

    </ion-card-content>
    <ion-button fill="clear" (click)="obtenerArtista(item.idArt)"
      >►Artista</ion-button>

    <ion-button fill="clear" (click)="obtenerLocal(item.idLoc)"
    >►Local</ion-button>
  </ion-card>
</ion-content>

<app-footer></app-footer>
