<ion-header *ngFor="let item of artist; let id = index">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>{{item.nombreArtista}}</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of artist; let id = index">
    <ion-card-header>
      <ion-card class="myCard">
        <img
          class="imgArtist"
          src="{{item.linkImagen}}"
          alt=""
          class="artista"
        />
        <div class="myOverlay">
          <ion-text class="titleText"> {{item.nombreArtista}}</ion-text>
          <div class="card-subtitle">
            <div class="like">
              <label id="heart" *ngIf="{isLoged}" (click)="changesHeart()">❤</label>
              <label id="heart" *ngIf="!{isLoged}" disabled (click)="presentAlert()">❤</label>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-card-header>
    <ion-card-content class="textArea"> {{item.descripcion}} </ion-card-content>
    <ion-button (click)="eliminarArtista(item.idArtista)">Eliminar</ion-button>
  </ion-card>
  
</ion-content>

<app-footer></app-footer>
