// .flex-center{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     width: 100%;
// }
ion-item{
    --background:#2a1b3d;
}
ion-input{
    
    background-color: rgba(240, 248, 255, 0) !important;
    border-color: rgba(240, 248, 255, 0) !important;
}
ion-content{
    --background:#2a1b3d;
}