// .flex-center{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     width: 100%;
// }
ion-card{
    background-color: #1f2833;
}
ion-item{
    background-color: #45a29e;
}
ion-button.dark{
    text-transform: initial;
    background: none;
}