<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header><img src="https://cdn.discordapp.com/attachments/562443471659728954/1027646064402116739/SHATORY.png"></ion-list-header>
          <ion-note>shatory.support@shatory.com</ion-note>

          <ion-menu-toggle>
            <ion-item>
              <ion-icon name="play-circle-outline"></ion-icon>
              <ion-title [routerLink]="['sesion']">Iniciar Sesion</ion-title>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header></ion-list-header>
          <ion-menu-toggle>
            <ion-item>
              <ion-icon name="musical-notes-outline"></ion-icon>
              <ion-title [routerLink]="['artists']" >Artistas</ion-title>
            </ion-item>
          </ion-menu-toggle>    
          <ion-menu-toggle>
            <ion-item>
              <ion-icon name="home"></ion-icon>
              <ion-title [routerLink]="['locales']" >Locales</ion-title>
            </ion-item>
          </ion-menu-toggle>  
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
