<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label  position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<!-- <ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Crear cuenta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-chip>
            <ion-input placeholder="Nombre"></ion-input>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip>
            <ion-input placeholder="Apellido"></ion-input>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip>
            <ion-input placeholder="Rut 12345678-9"></ion-input>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip>
            <ion-input placeholder="Correo" type="email"></ion-input>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip>
            <ion-input placeholder="Contraseña" type="password"></ion-input>
          </ion-chip>
        </ion-item>
      </ion-list>
      <ion-button size="full" color="success"> Registrar </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content> -->
