<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Crear cuenta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-chip>
            <ion-input placeholder="Nombre"></ion-input>
          </ion-chip>
        </ion-item>

        <ion-item>
          <ion-chip>
            <ion-input placeholder="Apellido"></ion-input>
          </ion-chip>
        </ion-item>

        <ion-item>
          <ion-chip>
            <ion-input placeholder="Rut 12345678-9"></ion-input>
          </ion-chip>
        </ion-item>

        <ion-item>
          <ion-chip>
            <ion-input placeholder="Correo" type="email"></ion-input>
          </ion-chip>
        </ion-item>

        <ion-item>
          <ion-chip>
            <ion-input placeholder="Contraseña" type="password"></ion-input>
          </ion-chip>
        </ion-item>

      </ion-list>
      <ion-button size="full" color="success"> Registrar </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
