<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of list; let id = index">
    <img
      class="artistImg"
      alt="Silhouette of mountains"
      src="{{item.linkImagen}}"
    />
    <ion-card-header>
      <ion-card-title>
        <ion-text>{{item.nombreArtista}}</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-button fill="clear" (click)="obtenerArtista(item.idArtista)"
      >►Más info</ion-button
    >
  </ion-card>
</ion-content>
<app-footer></app-footer>
