<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      
      <ion-chip>
        <ion-input formControlName="name" placeholder="Nombre" ></ion-input>
      </ion-chip>
    </ion-item>
    <ion-item>
      
      <ion-chip>
        <ion-input formControlName="surname" placeholder="Apellido"></ion-input>
      </ion-chip>
    </ion-item>
    <ion-item>
      
      <ion-chip>
        <ion-input formControlName="rut" placeholder="Rut"></ion-input>
      </ion-chip>
    </ion-item>
    
    <ion-item>
      <ion-chip>
        <ion-label floating>Correo con mensajes personalizados</ion-label>
        <ion-input type="text" [(ngModel)]="forms.correo2" name="correo2" #correo2="ngModel" required email></ion-input>
      </ion-chip>
    </ion-item>      
      <ion-item>
      <ion-chip>
        <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input>
      </ion-chip>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>


